body {
	text-align: center;
	font-size: 1.5em;
}

#nav {
	position: fixed;
	z-index: 99;
	width: 100%;
}

#nav ul a {
	flex-direction: row-reverse;
}

#nav ul a i {
	font-size: 0.75em;
	padding-left: 0.6em;
}

header,
section {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
}

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

section {
	max-width: 480px;
	padding: 0 1em;
	margin-bottom: 1em;
}

@media screen and (min-width: 992px), (orientation: landscape) {
	header {
		padding-top: 3em;
	}

	#characters {
		order: auto;
		height: auto;
		width: auto;
		margin: 0;
	}

	#pistachio {
		right: 0;
		bottom: auto;
		top: 10vh;
	}

	#spacepony {
		left: 0;
		top: -20vh;
	}
}

@media screen and (max-height: 480px) {
	header {
		padding-top: 2em;
		padding-bottom: 1em;
	}

	#scrollDown {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	#nav.closed ul li:not(:first-child) {
		display: none;
	}
	#nav ul li:not(:first-child) {
		display: block;
	}
}

@media screen and (min-width: 767px) {
	body {
		background-image: url(../img/planet-desktop.svg);
	}

	#characters {
		margin-bottom: 10vh;
	}

	#nav ul {
		display: inline-flex;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		overflow: hidden;
	}

	#nav ul li.hamburger {
		display: none;
	}
	#nav ul li {
		border-right: none;
		border-top: 4px solid rgba(255, 255, 255, 0);
	}
	#nav ul li:hover {
		border-right: none;
		border-top: 4px solid rgba(255, 255, 255, 0.5);
	}
	#nav ul li.active {
		border-right: none;
		border-top: 4px solid rgba(255, 255, 255, 1);
	}

	#nav ul a {
		flex-direction: row;
	}
	#nav ul a i {
		padding-right: 0.6em;
		padding-left: 0;
	}

	#pistachio {
		width: 150px;
		height: 200px;
		bottom: -5vh;
	}

	#spacepony {
		width: 200px;
		height: 250px;
		top: -5vh;
	}

	.projects > ul {
		padding: 0;
	}
}

@media screen and (min-width: 992px), (orientation: landscape) {
	#characters {
		order: auto;
		height: auto;
		width: auto;
		margin: 0;
	}

	#pistachio {
		right: 0;
		bottom: auto;
		top: 10vh;
	}

	#spacepony {
		left: 0;
		top: -20vh;
	}
}
