@keyframes float {
    0% {background-position: center 0px;}
    50% {background-position: center 10px;}
    100% {background-position: center 0px;}
}

input[type=checkbox] {
    width:1.5em; height:1.5em;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color:#666;
}

input[type=checkbox]:checked {
    background-color: #000;
}

input[type=checkbox]:checked::after {
    content: '\2713';
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    width:inherit; height: inherit;
    text-align: center;
    line-height: 0.9;
}

a {
    color:rgb(29, 161, 242);
}

.bubble-btn {
    flex:1;
    padding: 0.5em;
    border-radius: 0.5em;
    font-weight: bold;
    text-decoration: none;
    color:#fff;
    background-color:#000033;
    transition:background-color 0.1s;
    cursor: pointer;
}

.bubble-btn:hover, .bubble-btn.hold {
    background-color: #fff;
    color: #000033;
}

html {
    font-family: oscine,Helvetica, Arial, sans-serif;
    background-color:#000033;
}

body {
    margin:0;
    padding:0;
    text-align: center;
    font-size: 1.5em;
    color:#fff;

    background-image: url(../img/planet-mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

#nav {
    position: fixed;
    z-index: 99;
    width:100%;
}

#nav ul {
    padding:0;
    list-style: none;
    margin:0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#nav ul a {
    color:inherit;
    padding:0.5em 1em;
    text-decoration: none;
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
}

#nav ul li {
    border-top:none;
    border-right:4px solid rgba(255,255,255,0);
    background-color:#000022;
    transition: border-top 0.2s,border-right 0.2s;
}

#nav ul li:hover {
    border-right:4px solid rgba(255,255,255,0.5);
}
#nav ul li.active {
    border-right:4px solid rgba(255,255,255,1);
}

#nav ul a i{
    font-size: 0.75em;
    padding-left:0.6em;
}

#nav ul li.hamburger i {padding:0; font-size: 1em;}

#nav ul li.hamburger {
    position: absolute; top:0; left:0;
    user-select: none;
    border-bottom-right-radius: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

#nav ul li.hamburger:hover {
    background-color:#fff;
    color:#000033;
    border-right:inherit;
}

#main {
    margin:0 auto;
    width:480px;
    line-height: 1.5;
    background-color: rgba(0,0,0,0.5);
    padding:1em 2em;
}

canvas {
    position: fixed;
    top:0; left:0;
    z-index: -1;
}

header, section {
    box-sizing: border-box;
    max-width: 960px;
    margin:0 auto;
}

header {
    height:100vh;
    display:flex;
    flex-direction: column;
    position: relative;
}

section {
    max-width: 480px;
    padding:0 1em;
}

#banner {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#titles {
    padding: 0 1em;
    z-index: 1;
}

header h1 {
    font-weight: 400;
    font-size: 3em;
    margin:0;
}

#characters {
    order:-1;
    width:100%;
    height:250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.character {
    background-repeat: no-repeat;
    background-position: center center;
    position:absolute;
}

#pistachio {
    background-image: url(../img/pistachio.svg);
    width:100px;
    height:150px;
    right:10vw;
    bottom:0;
    
    animation: float 2s ease-in-out infinite;
}

#spacepony {
    background-image: url(../img/kosmos.svg);
    width:150px;
    height:200px;
    left:10vw;
    top:0;
    
    animation: float 2s ease-in-out -0.5s infinite;
}

section h2 {
    margin: 0;
    padding-top:1em;
}

section h3 {
    margin:0.25em 0;
}

#projects > form {
    display: flex;
    justify-content: center;
    gap:0.5em;
}

#projects > form > label {
    display: flex;
    align-items: center;
    padding:0.25em 0.5em;
    column-gap: 8px;
    background-color: #222;
    color:#fff;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.1s;
}

#projects > form > label:active {
    transform: scale(0.95);
}

#projects > form > label.checked {
    color:#222;
}

#projects > form > label.checked {
    background-color: #fff;
    color: #222;
}
#projects > form > label.checked:hover {
    background-color: #ddd;
}

#projects > form > label[for=web-cb].checked i {color:#007de4;}
#projects > form > label[for=vid-cb].checked i {color:#10be00;}

#projects > ol, #projects > ol > li > ul {
    list-style: none;
    padding:0;
    text-align: left;
}

#projects > ol > li > ul > li > a, .bubble {
    margin:0.5em 0;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 0.1s;
    display:flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
    color:#000000;
    overflow: hidden;
}

#projects > ol > li > ul > li > a:hover {
    background-color: rgba(255,255,255,0.9);
}

.caption-hold {
    display: flex;
    align-items: center;
}

.icon-hold {
    width:64px;
    min-height: 64px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-hold.placehldr {
    color:#333366;
}

.icon-hold .fas, .icon-hold .fab {
    font-size: 1.5em;
}

.preview-hold {
    width:auto;
}

.icon-hold img {
    max-width:64px; max-height:64px;
}

.preview-hold img {
    max-width: 100%; max-height: 100%; display:block;
}

.project-caption {
    flex:1;
    padding: 0.5em;
}

.project-caption > h4, .project-caption > p {
    margin:0;
}

.project-caption > p, .project-caption > .subtitle {
    margin-top:0.25em;
    font-size: 0.75em;
}

.project-caption > .subtitle {
    display:inline-block;
    color:#fff;
    background-color: #333366;
    padding:0.25em 0.5em;
    border-radius:1em;
}

.bubble2, #projects > form {
    margin-top: 1em;
}

.bubble2 {
    background-color: rgba(0,0,100,0.5);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

#hello img {
    width:100%;
    border-radius: 0.5em;
    margin-top: 0.5em;
}

#hello .caption {
    font-size: 0.5em;
}

#social {
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    padding:0.5em 0;
}

#social  a.social-link.full-width {
    flex-basis: 100%;
}

#social a.social-link span {
    margin:0 0.25em;
}

footer {
    padding:1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    margin:0;
}

@media screen and (max-width: 767px) {
    #nav.closed ul li:not(:first-child) {
        display:none;
    };
    #nav ul li:not(:first-child) {
        display:block;
    };
}

@media screen and (min-width: 767px) {
    body {
        background-image: url(../img/planet-desktop.svg);
    }

    #characters {
        margin-bottom: 10vh;
    }

    header {
        height:100vh;
    }

    header h1 {
        font-size: 4em;
    }

    #nav ul {
        display:inline-flex;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        overflow: hidden;
    }

    #nav ul li.hamburger {
        display:none;
    }
    #nav ul li{
        border-right:none;
        border-top:4px solid rgba(255,255,255,0);
    }
    #nav ul li:hover {
        border-right:none;
        border-top:4px solid rgba(255,255,255,0.5);
    }
    #nav ul li.active {
        border-right:none;
        border-top:4px solid rgba(255,255,255,1);
    }
    
    #nav ul a {flex-direction: row;}
    #nav ul a i{padding-right:0.6em; padding-left:0;}

    #pistachio {    
        width:150px;
        height:200px;
        bottom:-5vh;
    }
    
    #spacepony {  
        width:200px;
        height:250px;
        top:-5vh;
    }

    #projects > ol {
        padding:0;
    }
}

@media screen and (min-width: 992px),(orientation:landscape) {
    header {
        padding-top:3em;
    }

    #characters {
        order:auto;
        height:auto;
        width:auto;
        margin:0;
    }

    #pistachio {
        right:0;
        bottom:auto;
        top:10vh;
    }
    
    #spacepony {
        left:0;
        top:-20vh;
    }
}

@media screen and (max-height: 480px){
    header {
        padding-top:2em;
        padding-bottom: 1em;
    }

    #scrollDown {
        display:none;
    }
}