@keyframes float {
    0% {background-position: center 0px;}
    50% {background-position: center 10px;}
    100% {background-position: center 0px;}
}

html {
    /* font-family: rooney-sans,Helvetica, Arial, sans-serif; */
    /* font-family: quicksand,Helvetica, Arial, sans-serif; */
    font-family: oscine,Helvetica, Arial, sans-serif;
    background-color:#000033;
}

body {
    margin:0;
    padding:0;
    text-align: center;
    font-size: 1.5em;
    color:#fff;
}

#main {
    margin:0 auto;
    width:480px;
    line-height: 1.5;
    background-color: rgba(0,0,0,0.5);
    padding:1em 2em;
}

canvas {
    position: fixed;
    top:0; left:0;
    z-index: -1;
}

header {
    height:100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    position: relative;
    max-width: 960px;
    margin:0 auto;
    padding-bottom: 4em;
}

#banner {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#titles {
    padding: 0 1em;
    z-index: 1;
}

header h1 {
    font-weight: 400;
    font-size: 3em;
    margin:0;
}

#characters {
    order:-1;
    width:100%;
    height:250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.character {
    background-repeat: no-repeat;
    background-position: center center;
    position:absolute;
}

#pistachio {
    background-image: url(../img/pistachio.svg);

    width:100px;
    height:150px;
    right:10vw;
    bottom:0;
    
    animation: float 2s ease-in-out infinite;
}

#spacepony {
    background-image: url(../img/kosmos.svg);

    width:150px;
    height:200px;
    left:10vw;
    top:0;
    
    animation: float 2s ease-in-out -0.5s infinite;
}

#scrollDown {
    align-self: center;
    display:flex;
    text-decoration: none;
    background-color: rgba(255,255,255,0.5);
    align-items: center;
    padding: 0.5em;
    border-radius: 0.5em;
    color:#000033;
    white-space: nowrap;
}

#scrollDown p {
    margin:0;
}

section h2 {
    margin: 0;
    padding:1em;
}

#projects > ol, #projects > ol > li > ul {
    list-style: none; padding:0;
}

@media screen and (min-width: 767px) {
    #characters {
        margin-bottom: 10vh;
    }

    header h1 {
        font-size: 4em;
    }

    #pistachio {    
        width:150px;
        height:200px;
        bottom:-5vh;
    }
    
    #spacepony {  
        width:200px;
        height:250px;
        top:-5vh;
    }
}

@media screen and (min-width: 992px),(orientation:landscape) {
    header {
        padding-top:4em;
    }

    #characters {
        order:auto;
        height:auto;
        width:auto;
        margin:0;
    }

    #pistachio {
        right:0;
        bottom:auto;
        top:10vh;
    }
    
    #spacepony {
        left:0;
        top:-20vh;
    }
}